@using libLeanPrezzo
@using LeanPrezo.Web.Utils
@inject HttpClient Http

<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <h3>Server Status: @ServerStatus.State - @ServerStatus.Code</h3>
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {

    public ServerStatus ServerStatus = new ServerStatus();

    protected override async Task OnInitializedAsync()
    {
        @* TODO call to azure function for cold start *@
        try
        {
            var url = HttpHelper.Get("api/server-status");
            Console.WriteLine($"[FETCHING] {url}"); //Will show in the browser console.
            ServerStatus = await Http.GetFromJsonAsync<ServerStatus>(url);
        }
        catch (System.Exception e)
        {
            Console.Write("[REQUEST_ERROR]" + e.Message);
        }
    }
}
